* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
}
.box1 {
  background-color: orange;
}

.box2 {
  background-color: white;
}

.box3 {
  background-color: green;
}

.box {
  height: 100px;
  width: 500px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box2 img {
  height: 50px;
  width: 50px;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
