* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* Pixels (px) Does Not Change With Respect To Screen Size => Avoid Using it */

/* Percentage (%) Changes With Respect To Screen Size  */

/* vw and vh Are Same As Percentage Changes With Respect To Screen Size
* % Takes Value From Parent
* vh and vw Takes Value From Screen
*/

/* 
 em => Depend On Elements Font Size Based On Parent Font Size
*/

.main {
  width: 600px;
  height: 200px;
  background-color: red;
  font-size: 20px;
}

.child {
  font-size: 2em; /* => (2 * 20) = 40 px  */
}
.child2 {
  font-size: 2rem; /* => (2 * 16) = 32 px => root Body Font Size (default 16px)*/
}
